*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html{
  font-size: 10px;
  font-family: sans-serif;
}

a{
  display: block;
  text-decoration: none;
}

.container{
  max-width: 50rem;
  margin: 0 auto;
  padding: 0 2.2rem;
}

h1.header-text{
  text-align: center;
  font-size: xx-large;
  font-family: sans-serif;
}

header{
  position: fixed;
  top: 0;
  z-index: 1400;
  height: 8.6rem;
  width: 100%;
  background-color: bisque;
  backdrop-filter: blur(2rem);
}

.nav-list{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 --1rem;
}

.nav-list-mobile{
  display: none;
}

.nav-link{
  font-size: 1.4rem;
  color: rgb(255, 121, 143);
  padding: 0 1rem;
  transition: opacity .5s;
}

.nav-link:hover{
  color: rgb(155, 62, 77);
}

.nav-link-homepage{
  width: 1.6rem;
  height: 4.4rem;
  background: url("images/icons/heart.svg") center no-repeat;
}

.nav-link-search{
  width: 1.6rem;
  height: 4.4rem;
  background: url("images/icons/heart.svg") center no-repeat;
}

.landing{
  height: 69.2rem;
  background-color: bisque;
}

.hero{
  height: 69.2rem;
  background-size: auto 73.6rem;
  background-position: center;
  background-repeat: no-repeat;
  border-top: 10rem solid white;
}